<li th:fragment="listArticleItem (articles)" th:if="${articles.size()} > 0" th:each="article : ${articles}">
  <h4 class="article-title"><a th:href="'/articles/'+${article.getId()}" th:text="${article.getTitle()}">13 Health Benefits of Coffee, Based on
    Science</a>
  </h4>
  <p class="article-desc" th:utext="${article.getSummary()}">Ut facilisis, mauris ut condimentum
    tincidunt, libero diam imperdiet enim,. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Vestibulum nec accumsan elit. Quisque purus felis, gravida tincidunt
    venenatis et, aliquam quis sem nec placerat...
  </p>
  <div class="article-meta">
    <a href="#"><span class="user-info"><i data-feather="user"></i><span th:text="${article.getCreator()}">Tina Redsee</span></span></a>
    <a href="#"> <span class="clock"><i
        data-feather="clock"></i><span th:text="${article.getRelativeChanged()}">12 minutes ago</span></span></a>
    <a href="#" th:if="${article.getCategory()} != null"><span class="user-info"><i data-feather="tag"></i><span th:text="${article.getCategory()}">Health</span></span></a>
  </div>
  <div class="article-tags" th:replace="fragments/article :: tags (tags=${article.getTags()})"><a href="#"><span class="article-tag">Coffee</span></a><a
      href="#"><span
      class="article-tag">Productivity</span></a></div>
</li>
<div th:fragment="tags (tags)" class="article-tags">
  <a href="#" th:if="${tags.size()} > 0" th:each="tag : ${tags}"><span class="article-tag" th:text="${tag}">Coffee</span></a>
</div>
