
<!doctype html>
<html lang="en">
<head th:fragment="kaHeader (title)">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" th:href="'/css/bootstrap.min.css?version='+${version}">
  <!-- Plex Font -->
  <link rel="stylesheet" th:href="'/css/ibm-plex.css?version='+${version}">
  <!-- Custom CSS -->
  <link rel="stylesheet" th:href="'/css/custom.css?version='+${version}">
  <title th:text="'Knowledgebase Application - ' + ${title}">Knowledgebase Application - Prototype</title>
</head>
<body>
<!--Application Top Bar (Includes App Name, Top User Navigation, Mobile Main Navigation)-->
<div th:fragment="signedInWithSearch (query, username)" class="application-bar">
  <nav class="app-bar-navbar navbar-expand-lg navbar-dark bg-dark container-fluid">
    <div class="row">
      <div class="col-12 col-lg-3">
        <!--Application Name-->
        <a class="navbar-brand" href="/home"><i data-feather="book-open" class="app-icon"></i>Knowledgebase Application</a>
      </div>
      <div class="col-9 col-lg-6">
        <!--Top Search-->
        <form method="get" action="/search" class="form-inline search-input col-lg-8 mx-auto top-search">
          <i data-feather="search" class="sidebar-section-icon"></i>
          <input class="form-control mr-sm-2" name="query" type="search" placeholder="Search" aria-label="Search" th:value="${query}">
          <button class="btn" hidden type="submit">Search</button>
        </form>
      </div>
      <div class="col-3 col-lg-3">
        <!--Top Navigation-->
        <ul class="navbar-nav ml-auto user-info">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false" th:text="${username}">John Appleseed</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/logout">Sign out</a>
            </div>
          </li>
        </ul>
        <!--Sidebar Navigation Control-->
        <div class="row">
          <div class="col-lg-12">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-side-nav"
                    aria-controls="main-side-nav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
<!--Application Top Bar (Includes App Name, Top User Navigation, Mobile Main Navigation)-->
<div th:fragment="signedInNoSearch (username)" class="application-bar">
  <nav class="app-bar-navbar navbar-expand-lg navbar-dark bg-dark container-fluid">
    <div class="row">
      <div class="col-9 col-lg-3">
        <!--Application Name-->
        <a class="navbar-brand" href="/home"><i data-feather="book-open" class="app-icon"></i>Knowledgebase Application</a>
      </div>
      <div class="col-hidden col-lg-6">
      </div>
      <div class="col-3 col-lg-3">
        <!--Top Navigation-->
        <ul class="navbar-nav ml-auto user-info">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false" th:text="${username}">John Appleseed</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/logout">Sign out</a>
            </div>
          </li>
        </ul>
        <!--Sidebar Navigation Control-->
        <div class="row">
          <div class="col-lg-12">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-side-nav"
                    aria-controls="main-side-nav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
<!--Application Top Bar (Includes App Name, Top User Navigation, Mobile Main Navigation)-->
<div th:fragment="signedIn (username)" class="application-bar">
  <nav class="app-bar-navbar navbar-expand-lg navbar-dark bg-dark container-fluid">
    <div class="row">
      <div class="col-12 col-lg-3">
        <!--Application Name-->
        <a class="navbar-brand" href="/home"><i data-feather="book-open" class="app-icon"></i>Knowledgebase Application</a>
      </div>
      <div class="col-9 col-lg-6">
        <!--Top Search-->
        <form method="get" action="/search" class="form-inline search-input col-lg-8 mx-auto top-search">
          <i data-feather="search" class="sidebar-section-icon"></i>
          <input class="form-control mr-sm-2" name="query" type="search" placeholder="Search" aria-label="Search">
          <button class="btn" hidden type="submit">Search</button>
        </form>
      </div>
      <div class="col-3 col-lg-3">
        <!--Top Navigation-->
        <ul class="navbar-nav ml-auto user-info">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false" th:text="${username}">John Appleseed</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/logout">Sign out</a>
            </div>
          </li>
        </ul>
        <!--Sidebar Navigation Control-->
        <div class="row">
          <div class="col-lg-12">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-side-nav"
                    aria-controls="main-side-nav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
<!--Application Top Bar (Includes App Name, Top User Navigation, Mobile Main Navigation)-->
<div th:fragment="notSignedIn" class="application-bar">
  <nav class="app-bar-navbar navbar-expand-lg navbar-dark bg-dark container-fluid">
    <div class="row">
      <div class="col-12 col-lg-3">
        <!--Application Name-->
        <a class="navbar-brand" href="/home"><i data-feather="book-open" class="app-icon"></i>Knowledgebase Application</a>
      </div>
      <div class="col-9 col-lg-6">
      </div>
      <div class="col-3 col-lg-3">
        <!--Top Navigation-->
        <ul class="navbar-nav ml-auto user-info">
          <li class="nav-item dropdown"></li>
        </ul>
        <!--Sidebar Navigation Control-->
        <div class="row">
          <div class="col-lg-12">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-side-nav"
                    aria-controls="main-side-nav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
</body>
</html>
