<!--Left Sidebar (Includes main user menu) -->
<div th:fragment="signedIn (categories)" class="col-lg-2 bg-light sidebar">
  <nav class="collapse bd-links" id="main-side-nav">
    <div class="sidebar-sticky">
      <ul class="nav flex-column left-side-nav-main-items">
        <li class="nav-item">
          <a class="nav-link" th:classappend="${isHomePage} ? active" href="/"><i data-feather="home" class="sidebar-section-icon"></i>Home</a>
        </li>
      </ul>
      <h6 th:if="${user.isAdmin()}" class="sidebar-heading px-3 mt-4 mb-1">
        <!--<i data-feather="list" class="sidebar-section-icon"></i>-->
        Administration
      </h6>
      <ul th:if="${user.isAdmin()}" class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" th:classappend="${isAdminQueuePage} ? active" href="/admin/queue">Approval Queue (<span class="action-count" th:text="${adminQueueCount}">3</span>)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:classappend="${isApprovedByMePage} ? active" href="/admin/approved">Approved by me</a>
        </li>
      </ul>
      <h6 class="sidebar-heading px-3 mt-4 mb-1">
        <!--<i data-feather="list" class="sidebar-section-icon"></i>-->
        Categories
      </h6>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="/categories">All</a>
        </li>
        <li th:if="${categories.size()} > 0" th:each="category : ${categories}" class="nav-item">
          <a class="nav-link" th:text="${category.getCatDescr()}" th:href="'/categories/'+${category.getCatName()}">Category Name</a>
        </li>
      </ul>
      <h6 class="sidebar-heading px-3 mt-4 mb-1">
        <!--<i data-feather="settings" class="sidebar-section-icon"></i>-->
        My Account
      </h6>
      <ul class="nav flex-column">
        <li class="nav-item" th:if="${user.canCreateArticles()}">
          <a class="nav-link" th:classappend="${isCreateNewPage} ? active" href="/articles/new">Create New Article</a>
        </li>
        <li class="nav-item" th:if="${user.canCreateArticles()}">
          <a class="nav-link" th:classappend="${isUserSubmissionPage} ? active" href="/user/submissions">My Submissions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link comingsoon" href="#" title="Feature to be implemented in future sprints">My Bookmarks</a>
        </li>
      </ul>
      <div class="mobile-user-login"><i data-feather="user"></i><span class="user-name" th:text="${username}">John Appleseed</span><br><a href="/logout">Log out</a></div>
    </div>
  </nav>
</div>
