<!--Left Sidebar (Includes main user menu) -->
<div th:fragment="signedIn (categories)" class="col-lg-2 bg-light sidebar">
  <nav class="collapse bd-links" id="main-side-nav">
    <div class="sidebar-sticky">
      <ul class="nav flex-column left-side-nav-main-items">
        <li class="nav-item">
          <a class="nav-link" th:classappend="${isHomePage} ? active" href="/"><i data-feather="home" class="sidebar-section-icon"></i>Home</a>
        </li>
      </ul>
      <h6 class="sidebar-heading px-3 mt-4 mb-1">
        <!--<i data-feather="eye" class="sidebar-section-icon"></i>-->
        Recently Viewed
      </h6>
      <ul class="nav flex-column recently-opened">
        <li class="nav-item">
          <a class="nav-link" href="#">Setup/Configuration of Canon APLX Printer</a>
        </li>
      </ul>
      <h6 class="sidebar-heading px-3 mt-4 mb-1">
        <!--<i data-feather="list" class="sidebar-section-icon"></i>-->
        Categories
      </h6>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#">All</a>
        </li>
        <li th:if="${categories.size()} > 0" th:each="category : ${categories}" class="nav-item">
          <a class="nav-link" th:text="${category.getCatDescr()}" href="#">Category Name</a>
        </li>
      </ul>
      <h6 class="sidebar-heading px-3 mt-4 mb-1">
        <!--<i data-feather="settings" class="sidebar-section-icon"></i>-->
        My Account
      </h6>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="/articles/new">Create New Article</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Submissions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Bookmarks</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
