<!doctype html>
<html lang="en">
  <head th:replace="fragments/header :: kaHeader (title=${article.getTitle()})" />
  <body>
    <div th:replace="fragments/header :: signedIn (username=${user.getName()})" class="application-bar"></div>
    <div class="container-fluid no-gutters">
      <div class="row">
        <div th:replace="fragments/sidebar :: signedIn (categories=${categories})" class="col-lg-2 bg-light sidebar"></div>
        <main role="main" class="col-lg-10 no-padding">
          <!--Article Approval -->
          <div th:if="${isAdminReview}" class="col-lg-12 article-approval content-area">
            <div class="container">
              <div class="row admin-tools">
                <div class="col-lg-5 flex-align-center">
                  <div class="row content-info">
                    <div class="col-lg-2"><i data-feather="layout"></i></div>
                    <div class="col-lg-10">
                      <h4 class="col-info-heading">Manage content</h4>
                      <h3 th:text="${article.getTitle()}">13 Health Benefits of Coffee, Based on Science</h3>
                    </div>
                  </div>
                </div>
                <div class="col-lg-7">
                  <div class="row flex-align-center">
                    <div class="col-lg-3"><h4 class="col-info-heading">Status</h4>
                      <p class="col-info-data">Awaiting approval</p></div>
                    <div class="col-lg-9"> <div class="approval-actions">
                      <ul>
                        <li>
                          <button type="button" id="rejectArticleBtn" class="btn btn-link"><i data-feather="x"></i> Reject</button>
                        </li>
                        <li>
                          <button class="btn btn-success" type="submit" name="submit" value="Submit"><i data-feather="check"></i> Approve & Publish</button>
                        </li>
                      </ul>
                    </div></div>
                  </div>
                </div>
              </div>
              <form class="reject-article hidden">
                <div class="form-group col-lg-6 offset-lg-3 reject">
                  <label for="rejectReason">Reason for rejection</label>
                  <textarea class="form-control" id="rejectReason" rows="3"></textarea>
                  <button class="btn btn-danger btn-sm float-right" type="submit" name="submit" value="Submit">Reject</button>
                </div>
              </form>
            </div>
          </div>
          <div class="container-fluid col-lg-10 no-padding content-area">
            <!--Back to previous page -->
            <a class="go-back" href="javascript:history.back()" title="Return to previous page">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-chevron-left">
                            <polyline points="15 18 9 12 15 6"></polyline>
                        </svg>
                    </span>
            </a>
            <div class="article-view-header">
              <h1 th:text="${article.getTitle()}">13 Health Benefits of Coffee, Based on Science</h1>
              <div id="bookmark-this" data-toggle="tooltip" data-placement="bottom" class="float-right" title="Bookmark this">
                <button class="btn btn-secondary btn-sm flex-align-center"><i class="bookmarkIcon" data-feather="bookmark"></i> Bookmark</button>
              </div>
              <div class="article-meta">
                <a href="#"><span class="user-info"><i data-feather="user"></i><span th:text="${article.getCreator()}">Tina Redsee</span></span></a>
                <a href="#"> <span class="clock"><i
                    data-feather="clock"></i><span th:text="${article.getRelativeChanged()}">12 minutes ago</span></span></a>
                <a href="#"><span class="user-info"><i
                    data-feather="tag"></i>Health</span></a>
              </div>
              <div th:replace="fragments/article :: tags (tags=${article.getTags()})" class="article-tags"><a href="#"><span class="article-tag">Coffee</span></a><a
                  href="#"><span
                  class="article-tag">Productivity</span></a></div>
            </div>
            <div class="article-content">
              <label for="articleDescription">Description</label>
              <div id="articleDescription" class="article-description" th:utext="${article.getContent()}">
                <p>Donec sed fringilla diam. Fusce in tincidunt justo. Vestibulum efficitur blandit consectetur.</p>
                <p>Nunc convallis fermentum nunc, non mollis orci finibus sed. Cras vehicula mauris at mauris aliquet faucibus. Quisque convallis egestas mauris, ut ultricies mauris convallis non. Etiam quis dui mauris. Cras dignissim mollis dolor, consectetur tempor neque consectetur ac. Sed mi neque, mattis vitae magna ut, fringilla vehicula ipsum. Mauris augue lectus, varius vitae eros at, scelerisque viverra nulla. Phasellus a feugiat urna, ac fringilla augue. Sed a est fringilla, lobortis magna a, placerat nibh. Mauris mattis viverra lorem, sed accumsan nisl finibus et.</p>
              </div>
              <label for="articleAttachments">Attachments</label>
              <div id="articleAttachments" class="article-attachments">
                <ul class="attatchments">
                  <div class="row">
                    <a href="#"><li><span>pdf.pdf</span><span class="attachment-size">12KB</span></li></a>
                    <a href="#"><li><span>pdf.pdf</span><span class="attachment-size">12KB</span></li></a>
                  </div>
                </ul>
              </div>
            </div>
            <div class="article-feedback">
              <div class="row">
                <div class="col-lg-6">
                  <h3>Help improve this article</h3>
                  <h4>Did you find this article useful?</h4>
                </div>
                <div class="col-lg-6">
                  <div class="feedback-indicators">
                    <a class="thumbs-up" href="#/"><i data-feather="thumbs-up"></i>Yes</a><a class="thumbs-down" href="#/"><i data-feather="thumbs-down"></i>No</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      </main>
      </div>
    </div>

    <!-- JavaScript -->
    <!--Bootstrap Defaults-->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/tether.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!--Feather Icons-->
    <script src="/js/feather.min.js"></script>


    <script th:inline="javascript">
    feather.replace();

    $("#bookmark-this").on('click', function() {
        $(".bookmarkIcon").toggleClass('filled');
    })

    [# th:if="${isAdminReview}" ]
    $("#rejectArticleBtn").on('click', function(){
        $(".reject-article").toggleClass('hidden');
    })
    [/]
</script>
  </body>
</html>
