<!doctype html>
<html lang="en">
<head th:replace="fragments/header :: kaHeader (title='Category')" />
<body>
<div th:replace="fragments/header :: signedIn (username=${user.getName()})" class="application-bar"></div>
<!--Main Outer Container -->
<div class="container-fluid no-gutters">
  <div class="row">
    <div th:replace="fragments/sidebar :: signedIn (categories=${categories})" class="col-lg-2 bg-light sidebar"></div>
    <!--Main Content -->
    <main role="main" class="col-lg-10 no-padding">
      <div class="container-fluid content-area home-split-feed">
        <div class="row">
          <div class="col-lg-10">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="recent-tab" data-toggle="tab" href="#" role="tab"
                   aria-controls="recent" aria-selected="true">
                  <i data-feather="tag"></i> <span th:text="${categoryDescription}">Recent</span></a>
              </li>
            </ul>
            <div class="tab-content" id="tabsContent">
              <div class="tab-pane fade show active"
                   id="recent"
                   role="tabpanel"
                   aria-labelledby="recent-tab">
                <ul class="article-feed">
                  <li th:replace="fragments/article :: listArticleItem (articles=${articles})">
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<!-- JavaScript -->
<script src="/js/jquery-3.2.1.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/feather.min.js"></script>
<script>
    feather.replace();

</script>
</body>
</html>
