<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <!-- Plex Font -->
  <link rel="stylesheet" href="assets/css/ibm-plex.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="assets/css/custom.css">
  <title>Knowledgebase Application - Prototype</title>
</head>
<body>
<!--Application Top Bar (Includes App Name, Top User Navigation, Mobile Main Navigation)-->
<div th:replace="header :: notSignedIn" class="application-bar"></div>
<!--Main Outer Container -->
<div class="container-fluid no-gutters">
  <div class="row">
    <!--Main Content -->
    <main role="main" class="col-lg-10 no-padding">
      <div class="container-fluid content-area home-split-feed">
        <form method="post" action="login"
              class="form-inline search-input offset-lg-3 offset-md-2 col-lg-6 col-md-8 col-12">
          <select name="userName" class="form-control" aria-label="Login User Selection">
            <option value="">Select User</option>
            <option
                th:each="userName : ${userNames}"
                th:value="${userName}" th:text="${userName}"></option>
          </select>
          <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Login"></input>
        </form>
      </div>
    </main>
  </div>
</div>
<!-- JavaScript -->
<script src="assets/js/jquery-3.2.1.slim.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/feather.min.js"></script>
<script>
    feather.replace();

</script>
</body>
</html>
