<!doctype html>
<html lang="en">
  <head th:replace="fragments/header :: kaHeader (title='Home')"/>
  <body>
    <div th:replace="fragments/header :: signedInWithSearch (query=${query}, username=${user.getName()})" class="application-bar"></div>
    <!--Main Outer Container -->
    <div class="container-fluid no-gutters">
      <div class="row">
        <div th:replace="fragments/sidebar :: signedIn (categories=${categories})" class="col-lg-2 bg-light sidebar"></div>
        <!--Main Content -->
        <main role="main" class="col-lg-10 no-padding">
          <div class="container-fluid content-area home-split-feed">
            <h1 class="section-title">Search results for "<span th:text="${query}">coffee</span>"</h1>
            <p th:text="'Showing ' + ${results.size()} + ' results'">Showing 3 results</p>
            <hr>
            <div class="row">
              <div class="col-lg-10">
                <ul class="article-feed">
                  <li th:replace="fragments/article :: listArticleItem (articles=${results})">
                </ul>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <!-- JavaScript -->
    <script src="js/jquery-3.2.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/feather.min.js"></script>
    <script>
      feather.replace();
    </script>
  </body>
</html>
